
			header { 
				display: inline;
				margin:0;
				border:0;
			}
			.login_icon a {
			    float: right;
			    width: 10%;
			    text-align: center;
			    transition: all 0.3s ease;
			    color: #22335D;
			    font-size: 36px;
			}
			ul.navbar{
				margin:0;
				padding:0;
				margin-bottom: 0px;
				border:0;
				list-style-type: none;
				padding: 10px;
				overflow: hidden;
				background-color: #22335D;
			}
			li.nav {
				float: left;
				position: relative;
			}
			li.nav a,input {
				display: block;
				color: white;
				font-size: 20px;
				text-align: center;
				padding: 3px 40px;
				text-decoration: none;    
			}
			input{
				color: black;
				text-align: left;
				padding:0;
				width:300px;
			}
			::placeholder {
				color: black;
				opacity: 1; 
				text-align:left;
			}
			li.nav a:hover {
				background-color: #00bfff;
				color:black;
				padding: 3px 40px;
			}
			img.logo {
			  float: left;
			  margin:0;
			}
			span.title {
			  position: relative;
			  color:#22335D;
			  font-size:40px;
			  top:15px;
			}
			span.slogan{
			  position: relative;
			  color: #ffd700;
			  font-size: 25px;
			  font-style: italic;
			}
			.search{
				position:relative;
				float:right;
			}
			#police_dashboard{
				margin: 10px;
			}
			table {
				font-family: arial, sans-serif;
				border-collapse: collapse;
				margin-left:auto;
				margin-right:auto;
				
			}
			table > *:first-child:not(thead) td:first-child {
			  font-weight: bold;
			}
			table, td, th {
				border: 2px solid #111;
				text-align: left;
				padding: 8px;
			}
			td.case_id{
				text-align: center;
			}
			
			.textbox{
				width:120px;
			}